# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:
import numpy as np
import scipy
from sklearn import datasets
import pandas as pd

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [2]:
# Your code here:
diabetes = datasets.load_diabetes()
diabetes

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990842, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06832974, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286377, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04687948,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452837, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00421986,  0.00306441]]),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': '/usr/local/lib/python3.7/site-packages/sklearn/datasets/data/diabetes_data.csv.gz',
 'target_filename': '/usr/local/lib/python3.7/site-packages/sklearn/datasets/data/diabetes_target.csv.gz'}

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [3]:
# Your code here:
diabetes.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [4]:
# Your code here:
diabetes['DESCR']

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)'

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [5]:
# Your code here:
diabetes.data.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [6]:
# Your code here:
from sklearn.linear_model import LinearRegression

Initialize the model in the variable `diabetes_model`

In [7]:
# Your code here:
regr = LinearRegression()
diabetes_model = regr.fit(diabetes.data, diabetes.target)
diabetes_y_pred = regr.predict(diabetes.data)
diabetes_y_pred

array([206.11706979,  68.07234761, 176.88406035, 166.91796559,
       128.45984241, 106.34908972,  73.89417947, 118.85378669,
       158.81033076, 213.58408893,  97.07853583,  95.1016223 ,
       115.06673301, 164.67605023, 103.07517946, 177.17236996,
       211.75953205, 182.84424343, 147.99987605, 124.01702527,
       120.33094632,  85.80377894, 113.11286302, 252.44934852,
       165.48821056, 147.72187623,  97.12824075, 179.09342974,
       129.05497324, 184.78138552, 158.71515746,  69.47588393,
       261.50255826, 112.81897436,  78.37194762,  87.66624129,
       207.92460213, 157.87686037, 240.84370686, 136.93372685,
       153.48187659,  74.15703284, 145.63105805,  77.8280105 ,
       221.0786645 , 125.22224022, 142.60147066, 109.4926324 ,
        73.14037106, 189.87368742, 157.93636782, 169.55816531,
       134.18186217, 157.72356219, 139.1077439 ,  72.73252701,
       207.8289973 ,  80.10834588, 104.08562488, 134.57807971,
       114.23779529, 180.67760064,  61.12644508,  98.7215441 ,
       113.79626149, 189.96141244, 148.98263155, 124.33457266,
       114.83969622, 122.00224605,  73.91315064, 236.70948329,
       142.31366526, 124.51427625, 150.84273716, 127.75408702,
       191.16674356,  77.05921006, 166.82129568,  91.00741773,
       174.75026808, 122.83488194,  63.27214662, 151.99895968,
        53.73407848, 166.00134469,  42.65030679, 153.04135861,
        80.54493791, 106.9048058 ,  79.94239571, 187.1634566 ,
       192.60115666,  61.07125918, 107.40466928, 125.04038427,
       207.72180472, 214.21749964, 123.47505642, 139.16396617,
       168.21035724, 106.9267784 , 150.64502809, 157.92231541,
       152.75856279, 116.22255529,  73.03090141, 155.66898717,
       230.14278537, 143.50191007,  38.0947967 , 121.860737  ,
       152.79569851, 207.99651918, 291.23082717, 189.17431487,
       214.02871163, 235.18090808, 165.3872774 , 151.25000032,
       156.57626783, 200.44154589, 219.35211772, 174.79049427,
       169.23161767, 187.8719893 ,  57.49473392, 108.55110499,
        92.68518048, 210.87365701, 245.47433558,  69.84529943,
       113.0351432 ,  68.42945176, 141.69628649, 239.46177949,
        58.3802079 , 235.47268158, 254.91986281, 253.31042713,
       155.50813249, 230.55904185, 170.44063216, 117.99200943,
       178.55548636, 240.07155813, 190.3398776 , 228.66100769,
       114.24162642, 178.36570405, 209.09273631, 144.85567253,
       200.65791056, 121.34184881, 150.50918174, 199.02165018,
       146.2806806 , 124.02443772,  85.26036769, 235.16536625,
        82.17255475, 231.29266191, 144.36634395, 197.04778326,
       146.99720377,  77.18477545,  59.3728572 , 262.67891084,
       225.12578458, 220.20506312,  46.59691745,  88.1040833 ,
       221.77623752,  97.24900614, 164.48869956, 119.90114263,
       157.79986195, 223.08505437,  99.5885471 , 165.84341641,
       179.47571002,  89.83382843, 171.82492808, 158.36337775,
       201.47857482, 186.39202728, 197.47094269,  66.57241937,
       154.59826802, 116.18638034, 195.92074021, 128.04740268,
        91.20285628, 140.56975398, 155.23013996, 169.70207476,
        98.75498537, 190.1453107 , 142.5193942 , 177.26966106,
        95.31403505,  69.0645889 , 164.16669511, 198.06460718,
       178.26228169, 228.58801706, 160.67275473, 212.28682319,
       222.48172067, 172.85184399, 125.27697688, 174.7240982 ,
       152.38282657,  98.58485669,  99.73695497, 262.29658755,
       223.73784832, 221.3425256 , 133.61497308, 145.42593933,
        53.04259372, 141.81807792, 153.68369915, 125.21948824,
        77.25091512, 230.26311068,  78.90849563, 105.20931175,
       117.99633487,  99.06361032, 166.55382825, 159.34391027,
       158.27612808, 143.05658763, 231.55938678, 176.64144413,
       187.23572317,  65.38504165, 190.66078824, 179.74973878,
       234.91022512, 119.15540438,  85.63464409, 100.85860205,
       140.4174259 , 101.83836332, 120.66138775,  83.06599161,
       234.58754656, 245.16192142, 263.26766492, 274.87431887,
       180.67699732, 203.05474761, 254.21769367, 118.44122343,
       268.44988948, 104.83643442, 115.87172349, 140.45788952,
        58.46850453, 129.83264097, 263.78452618,  45.01240356,
       123.28697604, 131.08314499,  34.89018315, 138.35659686,
       244.30370588,  89.95612306, 192.07094588, 164.32674962,
       147.74783541, 191.89381753, 176.44296313, 158.34707354,
       189.19183226, 116.58275843, 111.44622859, 117.45262547,
       165.79457547,  97.80241129, 139.54389024,  84.17453643,
       159.9389204 , 202.4011919 ,  80.48200416, 146.64621068,
        79.05274311, 191.33759392, 220.67545196, 203.75145711,
        92.87093594, 179.15570241,  81.80126162, 152.82706623,
        76.79700486,  97.79712384, 106.83424483, 123.83477117,
       218.13375502, 126.02077447, 206.76300555, 230.57976636,
       122.0628518 , 135.67694517, 126.36969016, 148.49621551,
        88.07082258, 138.95595037, 203.86570118, 172.55362727,
       122.95773416, 213.92445645, 174.88857841, 110.07169487,
       198.36767241, 173.24601643, 162.64946177, 193.31777358,
       191.53802295, 284.13478714, 279.30688474, 216.0070265 ,
       210.08517801, 216.22213925, 157.01489819, 224.06561179,
       189.05840605, 103.56829281, 178.70442926, 111.81492124,
       290.99913121, 182.64959461,  79.33602602,  86.33287509,
       249.15238929, 174.51439576, 122.10645431, 146.27099383,
       170.6555544 , 183.50018707, 163.36970989, 157.03563376,
       144.42617093, 125.30179325, 177.50072942, 104.57821235,
       132.1746674 ,  95.06145678, 249.9007786 ,  86.24033937,
        62.00077469, 156.81087903, 192.3231713 , 133.85292727,
        93.67456315, 202.49458467,  52.53953733, 174.82926235,
       196.9141296 , 118.06646574, 235.3011088 , 165.09286707,
       160.41863314, 162.37831419, 254.05718804, 257.23616403,
       197.50578991, 184.06609359,  58.62043851, 194.3950396 ,
       110.77475548, 142.20916765, 128.82725506, 180.12844365,
       211.26415225, 169.59711427, 164.34167693, 136.2363478 ,
       174.50905908,  74.67649224, 246.29542114, 114.14131338,
       111.54358708, 140.02313284, 109.99647408,  91.37269237,
       163.01389345,  75.16389857, 254.05755095,  53.47055785,
        98.48060512, 100.66268306, 258.58885744, 170.67482041,
        61.91866052, 182.3042492 , 171.26913027, 189.19307553,
       187.18384852,  87.12032949, 148.37816611, 251.35898288,
       199.69712357, 283.63722409,  50.85577124, 172.14848891,
       204.06179478, 174.16816194, 157.93027543, 150.50201654,
       232.9761832 , 121.5808709 , 164.54891787, 172.67742636,
       226.78005938, 149.46967223,  99.14026374,  80.43680779,
       140.15557121, 191.90593837, 199.27952034, 153.63210613,
       171.80130949, 112.11314588, 162.60650576, 129.8448476 ,
       258.02898298, 100.70869427, 115.87611124, 122.53790409,
       218.17749233,  60.94590955, 131.09513588, 119.48417359,
        52.60848094, 193.01802803, 101.05169913, 121.22505534,
       211.8588945 ,  53.44819015])

In the cell below, fit the model and print the intercept and coefficients of the model.

In [8]:
# Your code here:
print('Intercept:', diabetes_model.intercept_)
print('Coefficients:', diabetes_model.coef_)

Intercept: 152.1334841628965
Coefficients: [ -10.01219782 -239.81908937  519.83978679  324.39042769 -792.18416163
  476.74583782  101.04457032  177.06417623  751.27932109   67.62538639]

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [9]:
# Your code here:
import statsmodels.api as sm
model = sm.OLS(endog=diabetes.target, exog=diabetes.data, hasconst=diabetes).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                      -3.385
Model:                            OLS   Adj. R-squared:                 -3.477
Method:                 Least Squares   F-statistic:                    -37.05
Date:                Tue, 01 Oct 2019   Prob (F-statistic):               1.00
Time:                        16:29:43   Log-Likelihood:                -2873.9
No. Observations:                 442   AIC:                             5768.
Df Residuals:                     432   BIC:                             5809.
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           -10.0122    179.967     -0.056      0.956    -363.731     343.707
x2          -239.8191    184.404     -1.301      0.194    -602.259     122.621
x3           519.8398    200.401      2.594      0.010     125.957     913.723
x4           324.3904    197.053      1.646      0.100     -62.912     711.692
x5          -792.1842   1255.066     -0.631      0.528   -3258.979    1674.611
x6           476.7458   1021.183      0.467      0.641   -1530.360    2483.851
x7           101.0446    640.155      0.158      0.875   -1157.162    1359.251
x8           177.0642    486.370      0.364      0.716    -778.882    1133.010
x9           751.2793    517.774      1.451      0.148    -266.391    1768.950
x10           67.6254    198.747      0.340      0.734    -323.005     458.256
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   0.223
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         21.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [10]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [11]:
# Your code here:
auto.head(5)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [12]:
# Your code here:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [13]:
# Your code here:
print('Oldest:',auto['model_year'].min())
print('Newest:',auto['model_year'].max())

Oldest: 70
Newest: 82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [14]:
# Your code here:
print(auto.isna().sum())
auto.dropna(inplace=True)
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [15]:
# Your code here:
print('Frequency:',len(auto['cylinders'].value_counts()))

Frequency: 5

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [16]:
# Import the necessary function
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
auto.drop(['car_name'],axis=1,inplace=True)

In [17]:
# Your code here:
y = auto['mpg']
x = auto.loc[:,'cylinders':]

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [18]:
# Your code here:
#if I wanted to not randomly select clusters
'''
import math
ts_rows = math.ceil(len(auto)*0.80)
ts_rows
X_train = x.loc[:ts_rows,:]
X_test = x.loc[ts_rows+1:,:]

y_train = y.loc[:ts_rows]
y_test = y.loc[ts_rows+1:]

for i in range(10):
    regr = LinearRegression()
    auto_model = regr.fit(auto.loc[:,'cylinders':], auto['mpg'])
    y_pred = regr.predict(auto.loc[:,'cylinders':])
'''
results = []
for i in range(10):
    X_train, X_test, y_train, y_test = train_test_split(x, y,train_size=0.80)
    reg = LinearRegression()
    model = reg.fit(X_train,y_train)
    results.append(reg.score(X_test,y_test))
round(np.mean(results),2)*100

81.0

Next, fit the model in the cell below.

In [19]:
# Your code here:
print(model)
print('Intercept:', model.intercept_)
print('Coefficients:', model.coef_)
# np.mean(results)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
Intercept: -16.387853658655413
Coefficients: [-0.22307224  0.01013386  0.00241889 -0.00735807  0.12487814  0.7743728 ]

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [40]:
# Import the necessary function:
y_pred = reg.predict(x)

In [41]:
# Your code here:
R_squared = round(r2_score(y, y_pred),2)*100
print(R_squared)

81.0

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [42]:
# Your code here:
y_test_pred = reg.predict(X_test)
R_squared = round(r2_score(y_test, y_test_pred),2)*100
R_squared

85.0

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [44]:
# Your code here:
results = []
for i in range(10):
    X_train09, X_test09, y_train09, y_test09 = train_test_split(x, y,train_size=0.90)
    reg = LinearRegression()
    auto_model09 = reg.fit(X_train09,y_train09)
    results.append(reg.score(X_test09,y_test09))
round(np.mean(results),2)*100

78.0

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [46]:
# Your code here:
auto_model09 = reg.fit(X_train09,y_train09)
auto_model09

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Compute the predicted values and r squared score for our new model and new sample data.

In [48]:
# Your code here:
y_test_pred09 = reg.predict(X_test09)
R_squared09 = round(r2_score(y_test09, y_test_pred09),2)*100
R_squared09

80.0

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [47]:
# Your code here:
y_test_pred = reg.predict(X_test)
R_squared = round(r2_score(y_test, y_test_pred),2)*100
R_squared

86.0

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [ ]:
# Your code here:

Fit the model and print the ranking

In [ ]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [ ]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [ ]:
# Your code here: